@font-face {
  font-family: gtsuper;
  src: url(../public/GTSuper.otf);
}
@font-face {
  font-family: gtwal;
  src: url(../public/gtWal.otf);
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}
p {
  font-weight: 500;
  font-size: 20px;
}
#homepage {
  width: 150%;
  height: 100vh;
  margin-left: -25%;
  font-family: gtsuper;
  display: flex;
  align-items: center;
  justify-content: center;
}
#homepage h1 {
  font-size: 350px;
  font-weight: lighter;
}
#homepage-last {
  margin-top: 10vh;
  width: 100%;
  height: 320vh;
  position: absolute;
  left: 0%;
  background-color: #ff622b;
  font-family: gtsuper;
}
#homepage-last h1 {
  text-align: center;
  font-size: 200px;
  font-weight: lighter;
}
#homepage-last span {
  font-size: 35px;
  font-family: gtsuper;
}
#homepage-last #img1 {
  position: absolute;
  width: 400px;
  left: 40%;
  top: 25%;
  transform: rotateZ(-10deg);
}
#img2 {
  position: absolute;
  left: 28%;
  margin-top: -20vh;
}
#step1 {
  width: 200px;
  height: 200px;
  margin-left: 5vh;
  line-height: 1cm;
  margin-top: 100px;
  font-family: gtwal;
}
#step2 {
  width: 300px;
  height: 250px;
  margin-left: 80%;
  line-height: 1cm;
  margin-top: 100px;
  font-family: gtwal;
}
#step3 {
  margin-left: 5vh;
  width: 200px;
  height: 200px;
  line-height: 1cm;
  margin-top: 100px;
  font-family: gtwal;
}
#homepage-last h2 {
  font-weight: 100;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}
#homepage-foot {
  margin-top: 330vh;
  width: 100%;
  height: 110vh;
  position: absolute;
  left: 0%;
  font-family: gtsuper;
  font-size: 50px;
  color: #ffffff5e;
  background: url(https://images.unsplash.com/photo-1536840362362-9241939f8874?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-repeat: no-repeat;
}
#h11 {
  position: absolute;
  bottom: 15vh;
  left: 10vh;
}
#h12 {
  position: absolute;
  bottom: 23vh;
  right: 5vh;
}
footer {
  width: 100%;
  position: absolute;
  bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  font-size: 20px;
  font-family: gtwal;
}
footer h3:hover {
  color: #ff622b;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
  cursor: pointer;
}
.logindiv {
  position: absolute;
  width: 100%;
  height: 91vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0%;
  background-position: center;
  -webkit-background-position: center;
  -moz-background-position: center;
  -o-background-position: center;

  background-repeat: no-repeat;
  -webkit-background-repeat: no-repeat;
  -moz-background-repeat: no-repeat;
  -o-background-repeat: no-repeat;

  background-attachment: fixed;
  -webkit-background-attachment: fixed;
  -moz-background-attachment: fixed;
  -o-background-attachment: fixed;

  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.logindiv input {
  background-color: #ffffff7c;
}
.notfound {
  position: absolute;
  background-color: #0d0d0d;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.notfound img {
  width: 65%;
  height: 80%;
}
.notfound h1 {
  color: #fff;
  margin-top: -5%;
  font-size: 80px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
button {
  padding: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  background-color: black;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

h3,
h4 {
  margin-bottom: 0;
}
nav {
  border-bottom: 3px solid black;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.592);
}
nav svg {
  position: absolute;
  left: 2%;
  top: -5%;
  width: 80px;
  height: 80px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
}
nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 20px 32px;
}
nav a:hover {
  background: black;
  color: white;
}
#page-body {
  max-width: 700px;
  margin: auto;
  padding-top: 64px;
}
.article-list-item {
  text-decoration: none;
  color: black;
  padding: 16px 0 0 0;
}
.article-list-item p {
  padding-bottom: 32px;
  /* border-bottom: 2px solid black; */
}
#add-comment-form {
  border-bottom: 2px solid black;
  padding: 16px;
}
#add-comment-form h3 {
  margin-bottom: 16px;
}
input,
textarea {
  display: block;
  width: 300px;
  padding: 8px;
  border-radius: 8px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  border: 2px solid black;
  margin-bottom: 16px;
}
.error {
  padding: 8px;
  border-radius: 4px;
  background-color: pink;
}
#add-comment-form button {
  width: 320px;
}
#upvotes-section button,
p {
  display: inline-block;
  margin-right: 16px;
}
.comment {
  border-bottom: 2px solid black;
  padding: 16px;
}
.nav-right {
  position: absolute;
  top: 8px;
  right: 8px;
}
.nav-right button {
  padding: 10px;
}
#articles {
  /* background-color: antiquewhite; */
  width: 85vw;
  margin-left: -20vw;
  display: grid;
  /* align-items: center; */
  justify-content: center;
  grid-template-areas:
    "header header"
    "auto auto";
  grid-gap: 8vh;
}
@media (max-width: 1300px) {
  #articles {
    display: grid;
    grid-template-areas:
      "header header"
      "auto auto";
    grid-gap: 8vh;
  }
}
@media (max-width: 700px) {
  #articles {
    display: grid;
    grid-template-areas:
      "header"
      "auto";
    grid-gap: 8vh;
  }
}
#content{
  z-index: 999;
  padding: 10px;
  position: absolute;
  width: 60%;
  height: 90%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border: 0.1px solid rgba(0,0,0,0.1);
}
#content i{
  position: absolute;
  bottom: 8%;
  right: 10%;
  padding: 10px;
  border-radius: 50%;
  background-color: #ff622b;
}
#card {
  position: relative;
  width: 40vw;
  height: auto;
  aspect-ratio: 4 / 3;
  transition: all 0.3s ease;
}
#card img{
  z-index: 1;
  position: absolute;
  width: 25vw;
  height: 70%;
  top: 55%;
  left: 45%;
  transform: translate(-50%, -50%);
  transition:all 0.5s ease-in-out;
  border-top-right-radius:10px ;
  border-bottom-right-radius: 10px;
}
#card:hover img{
  left: 70%;
}
